Contoso/Contoso/Service References/ServiceReference2/CategoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoryDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDetail" nillable="true" type="tns:CategoryDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDetail" nillable="true" type="tns:ArrayOfCategoryDetail" />
  <xs:complexType name="CategoryDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:long" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDetail" nillable="true" type="tns:CategoryDetail" />
</xs:schema>