Contoso/Contoso/Service References/ServiceReference1/SupplierService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SupplierService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58684/SupplierService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58684/SupplierService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58684/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISupplierService_GetSupplierByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierByName" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_GetSupplierByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_GetSupplierDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierDetail" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_GetSupplierDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_DelSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:DelSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_DelSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_UpdateSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_UpdateSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_AddSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_AddSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplierResponse" />
  </wsdl:message>
  <wsdl:portType name="ISupplierService">
    <wsdl:operation name="GetSupplierByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/GetSupplierByName" message="tns:ISupplierService_GetSupplierByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/GetSupplierByNameResponse" message="tns:ISupplierService_GetSupplierByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/GetSupplierDetail" message="tns:ISupplierService_GetSupplierDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/GetSupplierDetailResponse" message="tns:ISupplierService_GetSupplierDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/DelSupplier" message="tns:ISupplierService_DelSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/DelSupplierResponse" message="tns:ISupplierService_DelSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/UpdateSupplier" message="tns:ISupplierService_UpdateSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/UpdateSupplierResponse" message="tns:ISupplierService_UpdateSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/AddSupplier" message="tns:ISupplierService_AddSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/AddSupplierResponse" message="tns:ISupplierService_AddSupplier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISupplierService" type="tns:ISupplierService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSupplierByName">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/GetSupplierByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierDetail">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/GetSupplierDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/DelSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/UpdateSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/AddSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupplierService">
    <wsdl:port name="BasicHttpBinding_ISupplierService" binding="tns:BasicHttpBinding_ISupplierService">
      <soap:address location="http://localhost:58684/SupplierService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>