Contoso/Contoso/Service References/ServiceReference1/SupplierService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58684/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataRequest" />
  <xs:element name="GetSupplierByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataRequest" minOccurs="0" name="GetSupplierByNameResult" nillable="true" type="q1:ArrayOfSupplierType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>