Contoso/Contoso/Service References/ProductServiceRef/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDetail" nillable="true" type="tns:ProductDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDetail" nillable="true" type="tns:ArrayOfProductDetail" />
  <xs:complexType name="ProductDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Discontinued" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityPerUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReorderLevel" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SupplierId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitsInStock" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UnitsOnOrder" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDetail" nillable="true" type="tns:ProductDetail" />
</xs:schema>